
<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>Apply to Teach for India</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="bootstrap.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
              
  </head>
  
  <body style="background-color: black;">
    <div class="container" style="background-color: black;">
        <div class="row">
          <br>
          <div class="col-md-6">
            <img src="logo.png" class="pull-left">
          </div>
          <div class="col-md-6">
            <button class="btn btn-info pull-right">Existing applicant?</button>
          </div>
          <br>
        </div>
        <div class="row text-center" style="background-image:url('http://d2edn48kedz4vj.cloudfront.net/img/truthhopev11/12.jpg')">
          <br>
            <div class="page-header" style="background-color: rgb(255, 255, 255); opacity: 0.9; padding: 15px;">
              <h1>Change starts with you.</h1>
              <h5>Revolutionize the future of India.</h5>
              <br>
              <br>
              <h4>
                <span>My name is</span>
                <input type="text" size="30" placeholder="">
                <span>and I'm an Education Change Maker.</span><br><br>
                <a href="signup_a.html"><p class="btn btn-info">Start Application</p></a>
              </h4>
            </div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
    </div>
  <!--<div class="container" style="background-color: white">
      <br>
      <div class="row">
        <div class="col-md-4">
          <p><img src="#" class="img-responsive img-center"></p>
        </div>
        <div class="col-md-8 text-center">
          <h4>Why TFI?</h4>
          <p>Reasons <a href="#">Know more</a></p>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-4">
          <p><img src="#" class="img-responsive img-center"></p>
        </div>
        <div class="col-md-8 text-center">
          <h4>Why TFI?</h4>
          <p>Reasons <a href="#">Know more</a></p>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-4">
          <p><img src="#" class="img-responsive img-center"></p>
        </div>
        <div class="col-md-8 text-center">
          <h4>Why TFI?</h4>
          <p>Reasons <a href="#">Know more</a></p>
        </div>
      </div>

      <hr>

      </div>-->


    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
                                                                                                                      
  </script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js">
                                                                                                                      
  </script>

</html>
